body {
  background: url(/images/great.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #faef73;
}

form {
  padding: 20px;
  border-radius: 8px;
}

input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ef5350;
  box-shadow: none;
}
